<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- Povolení push notifikací -->
    <key>aps-environment</key>
    <string>production</string>

    <!-- Automaticky spravované asociace účtů (Apple ID, iCloud atd.) -->
    <key>com.apple.developer.team-identifier</key>
    <string>W2Y3H5JG6C</string>

    <!-- Pokud používáš Keychain Sharing (většinou ano pro Firebase Auth apod.) -->
    <key>keychain-access-groups</key>
    <array>
        <string>$(AppIdentifierPrefix)com.jumbo.trus</string>
    </array>
</dict>
</plist>
